<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>iStoryline</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <link href="~/css/app.95ff9bacdcdfea44502d6d588596f9c2.css" rel=stylesheet>

</head>

<body>
  <div id=app></div>
  <div class=""container>
    <div class="row">
      <div class="col-8">
        <div id="StoryLine"></div>
      </div>
      <div class="col-4">
        <div id="Network" position="relative"></div>
      </div>
    </div>

  </div>
  <div id="div_template"></div>
  <div id="textArea"></div>
  <div  id="Slider"></div>
  
  
 
  <script type=text/javascript src="~/js/graph_json.js"></script>
  <script type=text/javascript src="~/js/alice_relation_json.js"></script>
 
  <script type=text/javascript src="~/js/D3Component/double-slider.js"></script>
  <script type=text/javascript src="~/js/D3Component/nodelink.js"></script>
  <script type=text/javascript src="~/js/D3Component/line.js"></script>
  <script type=text/javascript src="~/js/api_result.js"></script>
  <script type=text/javascript src="~/js/preprocess/preprocess.js"></script>
  
  <script>

    


    var svgNetwork = d3.select('#Network')
      .append("svg")
      .attr("width", 500)
      .attr("height", 500);
      

    var network = new nodelink();
    
   

    network
      .nodes(aliceJson["nodes"])
      .links(aliceJson["links"])
      .value(50)
      .x(200)
      .y(300);
      
    svgNetwork.call(network, d3.select("#Network"));


    const containerStoryLine = document.getElementById("StoryLine").parentNode;
    
    var svgLine = d3.select("#StoryLine")
      .append("svg")
      .attr("width", containerStoryLine.clientWidth)
      .attr("height", 800)

    var storyLine = new StoryLine();

    
    storyLine
      .data(lineArray)
      .width(containerStoryLine.clientWidth)
      .height(500)
      .x(0)
      .y(0)
      .event(function(){
        var v = storyLine.value();
        console.log(v);
        network.value(v);
        network.update(svgNetwork);
      })
      
      
    svgLine.call(storyLine);


    var svgSlider = d3.select("#Slider")
      .append("svg")
      .attr("width", 400)
      .attr("height", 500)

    var slider = new doubleSlider();

    slider
      .width(200)
      .x(30)
      .y(200)
      .value(0.0)
      .event(function(){
        console.log("in event");
        var v = slider.value();
        network.value(Math.floor(v * 63));
        network.update(svgNetwork);

        console.log(network.value());
        // console.log(v);
      });

    svgSlider.call(slider);



  </script>

</body>

</html>