<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>iStoryline</title>
  <link href="~/css/app.95ff9bacdcdfea44502d6d588596f9c2.css" rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <div class="container">
    <h1>Upload XML File and Layout</h1>
    <form id="uploadForm">
        <input type="file" id="fileInput" accept=".xml" required>
        <button type="submit">Upload File</button>
    </form>
    <div class="results">
        <h2>Results</h2>
        <pre id="resultOutput"></pre>
    </div>
</div>
  <!-- <script type=text/javascript src="~/js/manifest.2ae2e69a05c33dfc65f8.js"></script>
  <script type=text/javascript src="~/js/vendor.347cc53e0846cebd5448.js"></script>
  <script type=text/javascript src="~/js/app.64383804c8a90248b6d8.js"></script> -->
  <script type=text/javascript src="~/js/show.js"></script>
</body>

</html>