
<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <title>iStoryline</title>
  <link href="~/css/app.95ff9bacdcdfea44502d6d588596f9c2.css" rel=stylesheet>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<div id=app></div>
<div class="container">
  <h1>Upload XML File and Layout</h1>
  <form id="uploadForm">
      <input type="file" id="fileInput" accept=".xml" required>
      <button type="submit">Upload File</button>
  </form>
  <div class="results">
      <h2>Results</h2>
      <pre id="resultOutput"></pre>
  </div>
</div>
<div id="plot" style="width:800px; height:600px;"></div>

<script type=text/javascript src="~/js/plotly_test.js"></script>

</body>

</html>